.App{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black !important;
}

.emugames-pointer {
  color: #d60000 !important;
}

.social-icons a {
  display: inline !important;
  font-size: 1.5rem !important;
  margin-bottom: 0.75rem !important;
  color: #d60000 !important;
}

.fa-user,
.fa-gamepad,
.fa-brands {
  color: #d60000 !important;
}
